// Paleta de colores
$color-primary: #222831; 
$color-secondary: #393E46; 
$color-accent: #00ADB5; 
$color-light: #EEEEEE; 
// Fuentes
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Lora', serif;

// Importar Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;700&display=swap');


// Estilos globales
body {
    font-family: $font-family-sans-serif;
    background-color: $light; 
    color: $primary; 
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-serif;
}


// Barra de navegación
.custom-navbar {
    border-bottom: 3px solid $color-accent;
    background-color: $color-secondary !important;
    .nav-link {
        color: $color-light !important;
        &:hover {
            color: $color-accent !important;
        }
        margin: 0 60px;

        @media (max-width: 768px) {
            margin: 3px;
        }
    }
    
}

// Barra de búsqueda
.search-bar {
    background-color: $color-light !important;
    color: $color-light;
    border: 1px solid $color-accent !important;

    &:focus {
        border-color: $color-accent !important;
        outline: none;
    }
}

@media (max-width: 768px) {
    .search-sort {
        align-items: start;
    }

    .sort {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .sort label {
        width: auto;
        text-align: left;
    }

    .sort select {
        flex-grow: 1;
    }
}

.custom-select {
    background-color: $color-light !important;
    color: $color-light;
    border: 1px solid $color-accent !important;
    &:focus {
        border-color: $color-accent !important;
        outline: none;
    }
}


.logo {
    width: 120px;
    color: $color-light;
    border-radius: 3px;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out, color 0.2s ease-out;

    &:hover {
        color: $color-accent;
        transform: scale(0.95); 
        box-shadow: 0px 2px 8px rgba($color-accent, 0.6); 
    }
}

.icon-user {
    font-size: 40px;
    color: $color-light !important;
    display: flex;
    &:hover {
        color: $color-accent !important;
        transform: scale(0.95);
        box-shadow: 0px 2px 8px rgba($color-accent, 0.6); 
        border-radius: 100px;
    }
}

// Sección de búsqueda y ordenamiento
.search-sort {
    margin-top: 50px;
    padding: 10px 20px;
    text-align: center;
}

// Blog Cards
.blog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
  }
  
.blog-card {
    width: 18rem;
    background: $color-light !important;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba($color-accent, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 2px 8px rgba($color-accent, 0.6);
    }
  
    .card-img-top {
      height: 200px;
      object-fit: cover;
      
    }
  
    .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: $color-light !important;
    }
  
    .blog-description {
      font-size: 14px;
      color: $color-secondary !important;
    }
  
    .blog-button {
      width: 100%;
      background-color: $color-accent !important;
      color: $color-light !important;
      border: none;
      padding: 10px;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        background-color: darken($color-light, 10%);
      }
    }
}

// Footer
.footer {
    $font-family-serif: 'Lora', serif;
    margin-top: 50px;
    padding: 25px;
    background: $color-secondary !important;
    text-align: center;
    border-top: 3px solid $color-accent !important;

    .footer-description {
        $font-family-serif: 'Lora', serif;
        font-size: 14px;
        color: $color-light !important;
    }

    .social-icons {
        font-size: 24px;
        margin-top: 10px;
        color: $color-light;

        i {
            margin: 0 12px;
            color: $color-light;
            cursor: pointer;
            transition: color 0.3s ease, transform 0.3s ease;


            &:hover {
                color: $color-accent !important;
                transform: scale(0.95); 
                box-shadow: 0px 2px 8px rgba($color-accent, 0.6); 

            }
        }
    }
}
//POST
.blog-banner {
    img {
        max-width: 100%;
        border-radius: 8px;
        margin-top: 20px;
    }
}

.blog-title {
    $font-family-sans-serif: 'Open Sans', sans-serif;
    color: $color-primary !important;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
}

.text-muted {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.blog-text {
    text-align: justify;
    margin: 1rem 0;
}

.blog-image {
    img {
        max-width: 40%;
        border-radius: 2px;
    }
    
    .caption-text {
        font-style: italic;
        color: $color-secondary;
        text-align: center;
    }

    margin-top: 0.5rem;
}

.comments {
    h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    textarea {
        width: 100%;
    }

}

.text-content {
    font-size: 14px;
    $font-family-serif: $font-family-serif;
    margin-bottom: 2rem;
}



// mensajería
.chat-box {
    max-width: 100%;
    margin: auto;
}

.message {
    display: flex;
    align-items: start;
    margin-bottom: 5px;
    border: 1px solid lighten($color-secondary, 60%); 
    background-color: lighten($color-accent, 60%); 
    border-radius: 5px; 
    padding: 10px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin-right: 10px;
}

.message-text {  
    padding: 10px;
    max-width: 100%;
}

.offset-img {
    margin-left: 60px; 
}

// formulario de crear publicacion
#postForm {
    border: 1px solid lighten($color-secondary, 60%); 
    background-color: lighten($color-secondary, 70%); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba($color-primary, 0.1);

}

#dialog-confirm {
    font-family: $font-family-sans-serif;
    .ui-dialog-titlebar {
        background-color: $color-accent !important;
        color: $color-light !important;
        .ui-dialog-title {
            font-family: $font-family-sans-serif;
        }
    }
}
.btn-primary { 
    background-color: $color-accent !important;
    color: $color-light !important;
    border: none;
    padding: 10px;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin-left: auto;
    border-radius: 5px;

    &:hover {
      background-color: darken($color-light, 10%);
    }
}


